<%- include('../partials/header') %>
<br>
<br>

<div class="searchComics">
<form method="GET" action="/comics/search">
    <input type="text" name="search"/>
    <button type="submit">Search</button>
</form>


<div class="comicsContainer">
<% comicData.forEach( function(c) { %>
<form class="comics" action="/comics" method="POST">
    <img src="<%= c.thumbnail.path %>/portrait_incredible.jpg" height="300px" width="auto" />
    <input type="hidden" name="title" value="<%= c.title %>"/>
    <input type="hidden" name="apiId" value="<%= c.id %>"/>
    <input type="hidden" name="description" value="<%= c.description %>"/>
    <input type="hidden" name="dates" value="<%= c.dates[1].date %>"/>
    <input type="hidden" name="image" value="<%= c.thumbnail.path %>"/>
    <button type="submit">
        View Comic Details
    </button>
</form>
<% }) %>
</div>
</div>

<%- include('../partials/footer') %>